body {
    width: 100%;
    height: 100%;
    background-color: #0D1117;
}

iframe {
    width: 95%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-application-icon {
    text-align: center;
    user-select: none;
    transition: 0.1s ease;
    img {
        width: 95%;
        transition: 0.1s;
    }
    &:hover {
        transform: scale(0.9);
        background-color: #212830;
        cursor: pointer;
        border: 1px solid #3D444D;
        border-radius: 10px;
    }
}