//----------***LIGHTDARKMODE.SCSS***----------//
/* Sist oppdatert: 27. November 2024 | Av: isakbh */

// Light Mode Styles
.lightmode {
    background-color: $base-color-light;

    button {
        background-color: #dddddd;
        color: #000;
        &:hover {
            background-color: #bebdbd;
        }
    }
}

// Dark mode
.darkmode {
    background-color: $base-color-dark;
    color: $text-color-dark;

    button {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
        &:active {
            background-color: lighten($navbar-button-dark, 20%);
        }
    }
    #logg {
        background-color: #1a2432;
    }
    .meny_topp {
        background-color: $navbar-background-dark;
    }

    #hjemknapp {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover {
            background-color: #425d80;
        }
        &:active {
            background-color: lighten($navbar-button-dark, 20%);
        }
    }

    #social {
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
    }

    #youtube {
        transition: 0.2s ease-out;
        aspect-ratio: 16 / 9;
        width: 90%;
        border-radius: 12px;
        margin-top: 5px 0 5px 0;
        filter: drop-shadow(0 0 20px white);
        &:hover {
            transform: scale(1.025);
            filter: drop-shadow(0 0 50px white);
        }
    }

    .meny_topp_høyre {
        background-color: $navbar-button-dark;
        button {
            background-color: $navbar-button-dark;
            color: $text-color-dark;
            &:hover {
                background-color: $navbar-button-dark-hover;
            }
            &:active {
                background-color: lighten($navbar-button-dark, 20%);
            }
        }
    }

    // Dropdown meny
    .dropbtn {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        border-radius: 50px;
        font-size: 1em;
        position: absolute;
        top: 0;
        left: 0;
    }

    .dropdown {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        transition: 1s;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f1f1f1;
        min-width: 160px;
        filter: drop-shadow(0px 0px 20px black);
        z-index: 1;
        background-color: $navbar-button-dark;
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            color: $text-color-dark;
            t        }
    }

    .dropdown-content a:hover {
        background-color: rgb(204, 212, 219);
        &:active {
            background-color: darken($navbar-button-light, 20%);
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgb(204, 212, 219);
    }
}
