//----------***SKJEMA:SCSS***----------//
// Sist oppdatert: 9. Januar  2025 10:25 | Av: isakbh //

@import "../Include/Styling/farger.scss"; // importer farger fra farger.scss
@import "../Include/Styling/lightdarkmode.scss"; // importer light og dark mode styling
@import "../Include/Styling/navbar.scss"; // importer nav-bar styling
@import "../Include/Styling/base.scss"; // importerer base styling

//////////////// BASIC STYLING ///////////////////

* {
    font-family: HackFont, Helvetica, Arial, sans-serif;
}

#mainContent {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    text-align: center;
}

// Hack font
@font-face {
    font-family: HackFont;
    src: url(../Stylesheets/Hack-v3.003-ttf/ttf/Hack-Regular.ttf);
}
